* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --white: #ffffff;
  --dark-gunmetal: #212529;
  --platinum: #dee2e6;
}
html {
  scroll-behavior: smooth;
}
.container {
  padding: 30px 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
header {
  position: sticky;
  top: 0;
}
.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-gunmetal);
  background-size: cover;
  flex-wrap: wrap;
}
.logo a {
  color: var(--white);
  font-size: 40px;
  text-decoration: none;
}
nav ul li a {
  color: var(--white);
  font-size: 20px;
  text-decoration: none;
}
li {
  list-style: none;
}
ul {
  margin-top: 10px;
  display: flex;
  gap: 40px;
}
label {
  display: none;
}
#check {
  display: none;
}
@media (max-width: 991px) {
  label {
    display: block;
  }
  nav {
    display: none;
  }
  label {
    font-size: 25px;
    cursor: pointer;
  }
  label .fa-xmark {
    position: fixed;
    margin-top: -20px;
    z-index: 2;
    display: none;
  }
  #check:checked ~ label .fa-xmark {
    display: block;
  }
  #check:checked ~ nav,
  ul {
    display: block;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    left: 200px;
    bottom: 120px;
    right: 0;
    position: fixed;
    display: flex;
    z-index: 1;
    background-color: rgb(201, 196, 196);
  }
  .user img {
    width: 50%;
  }
}
.user img {
  flex-wrap: wrap;
  margin-left: 45%;
}
.user {
  background-color: rgb(201, 196, 196);
}
.user h1,
.Freelancer {
  position: relative;
  color: var(--dark-gunmetal);
  font-size: 60px;
  top: 200px;
  margin-left: 10%;
}
.user p {
  font-size: 20px;
  line-height: 30px;
}
.about-us {
  text-align: center;
  padding: 70px 100px;
  display: flex;
  gap: 150px;
  flex-wrap: wrap;
}
.about-us h2,
.Service h2 {
  font-size: 60px;
}
.view,
.Service {
  text-align: center;
}
.view a {
  padding: 20px;
  text-decoration: none;
  border: solid 1px #212529;
  color: #000;
  border-radius: 50px;
}
.dolor {
  flex-wrap: wrap;
  line-height: 25px;
}
.Service {
  margin-top: 100px;
  flex-wrap: wrap;
}
.Developer {
  text-align: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  gap: 40px;
  margin-top: 100px;
  flex-wrap: wrap;
}
.web {
  background-color: #212529;
  width: 20%;
}
